@using ConverseStore.ViewModels;
@model SneakerVM
@{
    ViewData["Title"] = "Add Sneaker";
}

<body>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Color">Color</label>
            <input asp-for="Color" type="text" class="form-control" placeholder="Enter Color">
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Size">Size</label>
            <input asp-for="Size" type="number" class="form-control" placeholder="Size">
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Cost">Cost</label>
            <input asp-for="Cost" type="number" class="form-control" placeholder="Cost">
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Count">Count</label>
            <input asp-for="Count" type="number" class="form-control" placeholder="Count">
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" type="file" class="form-control" placeholder="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>